.topnav {
  overflow: hidden;
  background-color: #1c335f;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  box-shadow: 0 20px 26px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

#table1 {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#table1 td,
#table1 th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table1 tr:nth-child(even) {
  background-color: #f2f2f2;
}

#table1 tr:hover {
  background-color: #ddd;
}

#table1 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1c335f;
  color: white;
}

.button {
  background-color: #1c335f;
  border: none;
  color: white;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button:hover {
  box-shadow: 0 14px 20px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.crud {
  background-color: #1c335f;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: value;
  font-size: 16px;
  float: right;
  margin-right: 50px;
}

#footer-content {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1c335f;
  color: white;
  text-align: right;
  padding: 15px 15px 15px 0px;
  margin: 0px 0px 0px -10px;
}

.input{
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: solid;
  margin-left: 10px;
  margin-bottom: 5px;
  border-color: 1c335f;
  text-align: center;
}
